<div class="contact">
  <h1>Contact List</h1>

  <% if (msg.length > 0) { %>
      <div>
          <h3><%= msg %> </h3>
      </div>
  <% } %>
  <form action="/cekboxDelete" method="post">
  <button type="submit" class="btn btn-danger" onclick="return confirm('Data akan dihapus. Apakah anda yakin?')">Delete All</button>
  <a class="btn btn-primary" href="/contact/add-contact">Tambah</a>
  
  <table class="table">
      <tr>
          <th>No</th>
          <th>Nama</th>
          <th>NO HP</th>
          <th>Email</th>
          <th>Action</th>
      </tr>
      <% if (contact.length < 1) { %>
          Data Kosong
      <% }else{ %>
          

          
          <% Array.from(contact).forEach(kontak => { %>
          <tr>
              <td><%= index++ %></td>
              <td><%= kontak.name %></td>
              <td><%= kontak.mobile %></td>
              <td><%= kontak.email %></td>
              <td>
                      <a class="btn btn-info" href="/details/<%=kontak.name%>">Info</a>
                      <a class="btn btn-warning" href="/contact/edit/<%=kontak.name%>">Edit</a>
                      <form action="/contact/delete/<%=kontak.name%>" method="post" id="delete" onclick="return confirm('Data akan dihapus. Apakah anda yakin?')">
                          <a class="btn btn-danger" href="/contact/delete/<%=kontak.name%>">delete</a>
                          <input type="checkbox" name="name" value="<%=kontak.name%>">
                      </form>
                  
              </td>
          </tr>
          <% }) %>
      <% } %> 
  </table>
  <script>

  </script>
</div>

